@{
    ViewData["Title"] = "Home Page";
}

<div id="container" class="container-fluid" >
    <img style="display: block;
    margin: 0 auto;" src="http://blog.kokosa.net/image.axd?picture=%2F2017%2F05%2Fnet_developer.png"/>
</div>
